{#
  Exemple de composant flexible ACF
  Layout: hero_section
  
  Champs ACF attendus:
  - title (text)
  - description (textarea)
  - image (image)
  - cta_text (text)
  - cta_link (link)
#}

<section class="flexible-hero" data-animate>
  <div class="container">
    <div class="flexible-hero__inner">
      
      <div class="flexible-hero__content">
        {% if data.title %}
          <h2 class="flexible-hero__title">{{ data.title }}</h2>
        {% endif %}
        
        {% if data.description %}
          <p class="flexible-hero__description">{{ data.description }}</p>
        {% endif %}
        
        {% if data.cta_text and data.cta_link %}
          <a href="{{ data.cta_link }}" class="btn btn--primary">
            {{ data.cta_text }}
          </a>
        {% endif %}
      </div>
      
      {% if data.image %}
        <div class="flexible-hero__image">
          <img src="{{ data.image.url }}" alt="{{ data.image.alt }}">
        </div>
      {% endif %}
      
    </div>
  </div>
</section>
