<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ function('wp_head') }}
</head>
<body class="{{ body_class }}" style="opacity: 0; pointer-events: none;">
    
    {% include 'layouts/header.twig' %}
    
    <main id="app" data-taxi>
        <div data-taxi-view>
            {% block content %}
                {# Contenu swappé par Taxi au changement de page #}
            {% endblock %}
        </div>
    </main>
    
    {% include 'layouts/footer.twig' %}

    {% include 'components/svg-sprite.twig' %}

    {{ function('wp_footer') }}
</body>
</html>
