{#
  Footer du site
  
  Contient les menus, liens sociaux, newsletter et copyright.
#}
<footer id="footer" class="footer" role="contentinfo">
  <div class="container">
    
    {# Footer top #}
    <div class="footer__top">
      <div class="footer__grid">
        
        {# Column 1: Logo & Description #}
        <div class="footer__col">
          {% if footer.logo %}
            <div class="footer__logo">
              <img src="{{ footer.logo.url }}" alt="{{ site.name }}" width="{{ footer.logo.width }}" height="{{ footer.logo.height }}">
            </div>
          {% endif %}
          
          {% if footer.description %}
            <p class="footer__description">{{ footer.description }}</p>
          {% endif %}
          
          {# Social links #}
          {% if socials %}
            <ul class="footer__socials">
              {% if socials.facebook %}
                <li><a href="{{ socials.facebook }}" target="_blank" rel="noopener" aria-label="Facebook"><i class="icon-facebook"></i></a></li>
              {% endif %}
              {% if socials.twitter %}
                <li><a href="{{ socials.twitter }}" target="_blank" rel="noopener" aria-label="Twitter"><i class="icon-twitter"></i></a></li>
              {% endif %}
              {% if socials.instagram %}
                <li><a href="{{ socials.instagram }}" target="_blank" rel="noopener" aria-label="Instagram"><i class="icon-instagram"></i></a></li>
              {% endif %}
              {% if socials.linkedin %}
                <li><a href="{{ socials.linkedin }}" target="_blank" rel="noopener" aria-label="LinkedIn"><i class="icon-linkedin"></i></a></li>
              {% endif %}
              {% if socials.youtube %}
                <li><a href="{{ socials.youtube }}" target="_blank" rel="noopener" aria-label="YouTube"><i class="icon-youtube"></i></a></li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
        
        {# Column 2: Menu principal #}
        {% if menu_footer_main %}
          <div class="footer__col">
            <h3 class="footer__title">Navigation</h3>
            <ul class="footer__menu">
              {% for item in menu_footer_main.items %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        
        {# Column 3: Contact #}
        <div class="footer__col">
          <h3 class="footer__title">Contact</h3>
          <ul class="footer__contact">
            {% if footer.contact.email %}
              <li><a href="mailto:{{ footer.contact.email }}">{{ footer.contact.email }}</a></li>
            {% endif %}
            {% if footer.contact.phone %}
              <li><a href="tel:{{ footer.contact.phone }}">{{ footer.contact.phone }}</a></li>
            {% endif %}
            {% if footer.contact.address %}
              <li>{{ footer.contact.address }}</li>
            {% endif %}
          </ul>
        </div>
        
        {# Column 4: Newsletter #}
        {% if footer.newsletter %}
          <div class="footer__col">
            <h3 class="footer__title">{{ footer.newsletter.title }}</h3>
            <p>{{ footer.newsletter.description }}</p>
            {# Formulaire newsletter ici #}
          </div>
        {% endif %}
        
      </div>
    </div>
    
    {# Footer bottom #}
    <div class="footer__bottom">
      <div class="footer__bottom-inner">
        
        {# Copyright #}
        <div class="footer__copyright">
          <p>{{ footer.copyright }}</p>
        </div>
        
        {# Legal menu #}
        {% if menu_footer_legal %}
          <nav class="footer__legal">
            <ul>
              {% for item in menu_footer_legal.items %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
              {% endfor %}
            </ul>
          </nav>
        {% endif %}
        
      </div>
    </div>
    
  </div>
</footer>
