<header class="header" data-header>
    <div class="container">
        <div class="header__inner">
            
            {# Logo #}
            <div class="header__logo">
                <a href="{{ site.url }}" class="logo">
                    {% if site.logo %}
                        <img src="{{ site.logo.src }}" alt="{{ site.name }}">
                    {% else %}
                        {{ site.name }}
                    {% endif %}
                </a>
            </div>
            
            {# Menu principal #}
            {% if menu_primary %}
                <nav class="header__nav" data-nav>
                    <ul class="menu">
                        {% for item in menu_primary.items %}
                            <li class="menu__item {{ item.current ? 'is-active' : '' }}">
                                <a href="{{ item.link }}" class="menu__link">
                                    {{ item.title }}
                                </a>
                                
                                {# Sous-menu si existant #}
                                {% if item.children %}
                                    <ul class="submenu">
                                        {% for child in item.children %}
                                            <li class="submenu__item">
                                                <a href="{{ child.link }}" class="submenu__link">
                                                    {{ child.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            {% endif %}
            
            {# Burger menu mobile #}
            <button class="header__burger" data-burger aria-label="Menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
            
        </div>
    </div>
</header>
